


body {

    background-color: darkgrey;

}

#miktar{

    margin-bottom: 10px;

}

#seçimlabel {

    margin-bottom: 10px;

}

#donusturbuton {

    margin-bottom: 20px;

}

#Kurbutonu {
    
    margin-bottom: 20px;

}